nav
  ul#header
    li
      a(href='/articles') Articles
    li
      a(href='/subscribe')#sub Subscribe
    li
      a(href='/needadrink') Need a Drink?
    li
      a(href='index.html') Login
div#spacer