doctype html(lang='en')
head
    meta(charset='UTF-8')  
    meta(name='viewport', content='width=device-width, initial-scale=1.0')  
    meta(http-equiv='X-UA-Compatible', content='ie=edge')  
    link(rel='stylesheet', href='/css/style.css')
    style.
      
include ./partials/header
//- built a app that uses a random drink api
body
    h3 If you're in need of a drink after a long day of marking here's a recipe to ease your pain
    button(id="random") Get Random Drink
    div#container
    script
      include .././assets/js/app.js

include ./partials/footer