doctype html(lang='en')
head
    meta(charset='UTF-8')  
    meta(name='viewport', content='width=device-width, initial-scale=1.0')  
    meta(http-equiv='X-UA-Compatible', content='ie=edge')  
    link(rel='stylesheet', href='/css/style.css')
    title Articles
    
//- using the each method runs through each obj in DB to place on page in idividual divs
include ./partials/header
div#postcontainer
  div#post 
      a#newpost(href='/addNewPost')
        h2 Add a New Article 
  each post in articles
    div#post
      h2#title= post.title
      p#summ= post.summary
      p#body= post.body
      br
  div#post 
    a#newpost(href='/addNewPost')
      h2 Add a New Article 
include ./partials/footer